<a href="https://www.kaggle.com/code/anajesus/my-electric-car-analysis?scriptVersionId=160366992" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
#Day 1 Basic Data Exploration 
import pandas as pd

data = pd.read_csv("/kaggle/input/electric-vehicle-charging-dataset/station_data_dataverse.csv")

In [2]:
#rows,columns
data.shape

(3395, 24)

In [3]:
#What are the names of my variables?
data.columns

Index(['sessionId', 'kwhTotal', 'dollars', 'created', 'ended', 'startTime',
       'endTime', 'chargeTimeHrs', 'weekday', 'platform', 'distance', 'userId',
       'stationId', 'locationId', 'managerVehicle', 'facilityType', 'Mon',
       'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun', 'reportedZip'],
      dtype='object')

In [4]:
# What do the first few rows of my dataframe contain?
data.head()

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0

In [5]:
# What are the summary statistics for my dataframe?
data.describe()

,sessionId,kwhTotal,dollars,startTime,endTime,chargeTimeHrs,distance,userId,stationId,locationId,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
count,3.395000e+03,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,2330.000000,3.395000e+03,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000
mean,5.487001e+06,5.809629,0.118268,13.743446,16.455965,2.841488,18.652378,5.742395e+07,576789.678056,629934.460677,0.595582,2.428571,0.181443,0.187040,0.210015,0.216495,0.179676,0.018262,0.007069,0.703976
std,2.590657e+06,2.892727,0.492562,3.204370,3.406732,1.507472,11.420571,2.674772e+07,257486.310402,255620.993849,0.490851,0.811204,0.385442,0.390001,0.407379,0.411916,0.383974,0.133918,0.083793,0.456569
min,1.004821e+06,0.000000,0.000000,0.000000,0.000000,0.012500,0.856911,1.042767e+07,129465.000000,125372.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.234666e+06,4.350000,0.000000,11.000000,14.000000,2.110278,5.135871,3.329548e+07,369001.000000,481066.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.451498e+06,6.230000,0.000000,13.000000,16.000000,2.808889,21.023826,4.924181e+07,549414.000000,503205.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,7.746644e+06,6.830000,0.000000,17.000000,20.000000,3.544167,27.285053,8.188052e+07,864630.000000,878393.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.998981e+06,23.680000,7.500000,23.000000,23.000000,55.238056,43.059292,9.834581e+07,995505.000000,978130.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# Display data types of each column
data_types = data.dtypes
print(data_types)

sessionId           int64
kwhTotal          float64
dollars           float64
created            object
ended              object
startTime           int64
endTime             int64
chargeTimeHrs     float64
weekday            object
platform           object
distance          float64
userId              int64
stationId           int64
locationId          int64
managerVehicle      int64
facilityType        int64
Mon                 int64
Tues                int64
Wed                 int64
Thurs               int64
Fri                 int64
Sat                 int64
Sun                 int64
reportedZip         int64
dtype: object

In [7]:
#Day 2 
#Dataset Overview
#Identify missing values and basic data characteristics.
##High level information Is there any null values? Shows the total rows, name and number of columns and their datatypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3395 entries, 0 to 3394
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sessionId       3395 non-null   int64
 1   kwhTotal        3395 non-null   float64
 2   dollars         3395 non-null   float64
 3   created         3395 non-null   object
 4   ended           3395 non-null   object
 5   startTime       3395 non-null   int64
 6   endTime         3395 non-null   int64
 7   chargeTimeHrs   3395 non-null   float64
 8   weekday         3395 non-null   object
 9   platform        3395 non-null   object
 10  distance        2330 non-null   float64
 11  userId          3395 non-null   int64
 12  stationId       3395 non-null   int64
 13  locationId      3395 non-null   int64
 14  managerVehicle  3395 non-null   int64
 15  facilityType    3395 non-null   int64
 16  Mon             3395 non-null   int64
 17  Tues            3395 non-null   int64
 18  Wed             3395 non-null   int64
 19  Thurs           3395 non-null   int64
 20  Fri             3395 non-null   int64
 21  Sat             3395 non-null   int64
 22  Sun             3395 non-null   int64
 23  reportedZip     3395 non-null   int64
dtypes: float64(4), int64(16), object(4)
memory usage: 636.7+ KB

In [8]:
# Number of missing values  #distance has null
data.isnull().sum()

sessionId            0
kwhTotal             0
dollars              0
created              0
ended                0
startTime            0
endTime              0
chargeTimeHrs        0
weekday              0
platform             0
distance          1065
userId               0
stationId            0
locationId           0
managerVehicle       0
facilityType         0
Mon                  0
Tues                 0
Wed                  0
Thurs                0
Fri                  0
Sat                  0
Sun                  0
reportedZip          0
dtype: int64

In [9]:
# Calculate the percentage of missing values
missing_percentage = (data.isnull().sum() / len(data)) * 100

# Create a new DataFrame to display the missing percentage
missing_info = pd.DataFrame({'Column': data.columns, 'Missing Percentage': missing_percentage})

# Display the missing information
print(missing_info)

                        Column  Missing Percentage
sessionId            sessionId            0.000000
kwhTotal              kwhTotal            0.000000
dollars                dollars            0.000000
created                created            0.000000
ended                    ended            0.000000
startTime            startTime            0.000000
endTime                endTime            0.000000
chargeTimeHrs    chargeTimeHrs            0.000000
weekday                weekday            0.000000
platform              platform            0.000000
distance              distance           31.369661
userId                  userId            0.000000
stationId            stationId            0.000000
locationId          locationId            0.000000
managerVehicle  managerVehicle            0.000000
facilityType      facilityType            0.000000
Mon                        Mon            0.000000
Tues                      Tues            0.000000
Wed                        Wed            0.000000
Thurs                    Thurs            0.000000
Fri                        Fri            0.000000
Sat                        Sat            0.000000
Sun                        Sun            0.000000
reportedZip        reportedZip            0.000000

In [10]:
# Drop columns with a high percentage of missing values

# Set a threshold (for example, 30%)
threshold = 30

# Drop columns with a percentage of missing values above the threshold
columns_to_drop = missing_percentage[missing_percentage > threshold].index
CleanData = data.drop(columns=columns_to_drop)

# Display the updated DataFrame
print(CleanData)

      sessionId  kwhTotal  dollars              created                ended  \
0       1366563      7.78     0.00  0014-11-18 15:40:26  0014-11-18 17:11:04
1       3075723      9.74     0.00  0014-11-19 17:40:26  0014-11-19 19:51:04
2       4228788      6.76     0.58  0014-11-21 12:05:46  0014-11-21 16:46:04
3       3173284      6.17     0.00  0014-12-03 19:16:12  0014-12-03 21:02:18
4       3266500      0.93     0.00  0014-12-11 20:56:11  0014-12-11 21:14:06
...         ...       ...      ...                  ...                  ...
3390    7021565      6.74     0.00  0015-10-01 16:31:18  0015-10-01 19:59:08
3391    3758092      6.86     0.00  0015-10-02 16:28:48  0015-10-02 19:27:05
3392    5858374      6.07     0.00  0015-09-30 16:54:22  0015-09-30 20:24:06
3393    2586645      5.74     0.00  0015-09-24 11:43:02  0015-09-24 13:55:12
3394    7860608      6.95     0.00  0015-10-01 16:43:05  0015-10-01 19:42:06

      startTime  endTime  chargeTimeHrs weekday platform  ...  managerVehicle  \
0            15       17       1.510556     Tue  android  ...               0
1            17       19       2.177222     Wed  android  ...               0
2            12       16       4.671667     Fri  android  ...               0
3            19       21       1.768333     Wed  android  ...               0
4            20       21       0.298611     Thu  android  ...               0
...         ...      ...            ...     ...      ...  ...             ...
3390         16       19       3.463889     Thu      ios  ...               0
3391         16       19       2.971389     Fri      ios  ...               0
3392         16       20       3.495556     Wed  android  ...               0
3393         11       13       2.202778     Thu      ios  ...               1
3394         16       19       2.983611     Thu      ios  ...               0

      facilityType  Mon  Tues  Wed  Thurs  Fri  Sat  Sun  reportedZip
0                3    0     1    0      0    0    0    0            0
1                3    0     0    1      0    0    0    0            0
2                3    0     0    0      0    1    0    0            0
3                3    0     0    1      0    0    0    0            0
4                3    0     0    0      1    0    0    0            0
...            ...  ...   ...  ...    ...  ...  ...  ...          ...
3390             2    0     0    0      1    0    0    0            1
3391             2    0     0    0      0    1    0    0            1
3392             3    0     0    1      0    0    0    0            1
3393             2    0     0    0      1    0    0    0            1
3394             3    0     0    0      1    0    0    0            1

[3395 rows x 23 columns]

In [11]:
# Descriptive statistics for numerical columns
numerical_stats = CleanData.describe()
print(numerical_stats)

          sessionId     kwhTotal      dollars    startTime      endTime  \
count  3.395000e+03  3395.000000  3395.000000  3395.000000  3395.000000
mean   5.487001e+06     5.809629     0.118268    13.743446    16.455965
std    2.590657e+06     2.892727     0.492562     3.204370     3.406732
min    1.004821e+06     0.000000     0.000000     0.000000     0.000000
25%    3.234666e+06     4.350000     0.000000    11.000000    14.000000
50%    5.451498e+06     6.230000     0.000000    13.000000    16.000000
75%    7.746644e+06     6.830000     0.000000    17.000000    20.000000
max    9.998981e+06    23.680000     7.500000    23.000000    23.000000

       chargeTimeHrs        userId      stationId     locationId  \
count    3395.000000  3.395000e+03    3395.000000    3395.000000
mean        2.841488  5.742395e+07  576789.678056  629934.460677
std         1.507472  2.674772e+07  257486.310402  255620.993849
min         0.012500  1.042767e+07  129465.000000  125372.000000
25%         2.110278  3.329548e+07  369001.000000  481066.000000
50%         2.808889  4.924181e+07  549414.000000  503205.000000
75%         3.544167  8.188052e+07  864630.000000  878393.000000
max        55.238056  9.834581e+07  995505.000000  978130.000000

       managerVehicle  facilityType          Mon         Tues          Wed  \
count     3395.000000   3395.000000  3395.000000  3395.000000  3395.000000
mean         0.595582      2.428571     0.181443     0.187040     0.210015
std          0.490851      0.811204     0.385442     0.390001     0.407379
min          0.000000      1.000000     0.000000     0.000000     0.000000
25%          0.000000      2.000000     0.000000     0.000000     0.000000
50%          1.000000      3.000000     0.000000     0.000000     0.000000
75%          1.000000      3.000000     0.000000     0.000000     0.000000
max          1.000000      4.000000     1.000000     1.000000     1.000000

             Thurs          Fri          Sat          Sun  reportedZip
count  3395.000000  3395.000000  3395.000000  3395.000000  3395.000000
mean      0.216495     0.179676     0.018262     0.007069     0.703976
std       0.411916     0.383974     0.133918     0.083793     0.456569
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     1.000000
75%       0.000000     0.000000     0.000000     0.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

In [12]:
#display null values
data[data.isnull().any(axis=1)]

,sessionId,kwhTotal,dollars,created,ended,startTime,endTime,chargeTimeHrs,weekday,platform,...,managerVehicle,facilityType,Mon,Tues,Wed,Thurs,Fri,Sat,Sun,reportedZip
0,1366563,7.78,0.00,0014-11-18 15:40:26,0014-11-18 17:11:04,15,17,1.510556,Tue,android,...,0,3,0,1,0,0,0,0,0,0
1,3075723,9.74,0.00,0014-11-19 17:40:26,0014-11-19 19:51:04,17,19,2.177222,Wed,android,...,0,3,0,0,1,0,0,0,0,0
2,4228788,6.76,0.58,0014-11-21 12:05:46,0014-11-21 16:46:04,12,16,4.671667,Fri,android,...,0,3,0,0,0,0,1,0,0,0
3,3173284,6.17,0.00,0014-12-03 19:16:12,0014-12-03 21:02:18,19,21,1.768333,Wed,android,...,0,3,0,0,1,0,0,0,0,0
4,3266500,0.93,0.00,0014-12-11 20:56:11,0014-12-11 21:14:06,20,21,0.298611,Thu,android,...,0,3,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3207,1865681,0.00,0.00,0015-09-25 19:10:00,0015-09-25 19:11:08,19,19,0.018889,Fri,ios,...,1,3,0,0,0,0,1,0,0,1
3209,7155296,0.00,0.00,0015-10-02 19:16:23,0015-10-02 19:18:07,19,19,0.028889,Fri,ios,...,1,3,0,0,0,0,1,0,0,1
3210,7688636,0.00,0.00,0015-10-02 19:18:45,0015-10-02 19:20:08,19,19,0.023056,Fri,ios,...,1,3,0,0,0,0,1,0,0,1
3282,5181950,0.00,0.00,0015-09-23 11:02:55,0015-09-23 13:03:05,11,13,2.002778,Wed,ios,...,1,2,0,0,1,0,0,0,0,1
3286,7661889,0.00,0.00,0015-09-28 11:01:45,0015-09-28 11:03:06,11,11,0.022500,Mon,ios,...,1,2,1,0,0,0,0,0,0,1

In [13]:
#number of duplicate entries # 0
print('Duplicate entries found in this dataset = {}.' .format(data.duplicated().sum()))

Duplicate entries found in this dataset = 0.

In [14]:
#method returns the number of unique values for each column.
data.nunique()

sessionId         3395
kwhTotal           873
dollars             49
created           3393
ended             3355
startTime           23
endTime             24
chargeTimeHrs     3006
weekday              7
platform             3
distance            97
userId              85
stationId          105
locationId          25
managerVehicle       2
facilityType         4
Mon                  2
Tues                 2
Wed                  2
Thurs                2
Fri                  2
Sat                  2
Sun                  2
reportedZip          2
dtype: int64

In [15]:
#describe data
data[['kwhTotal','dollars','startTime','endTime','chargeTimeHrs','distance']].describe()

,kwhTotal,dollars,startTime,endTime,chargeTimeHrs,distance
count,3395.000000,3395.000000,3395.000000,3395.000000,3395.000000,2330.000000
mean,5.809629,0.118268,13.743446,16.455965,2.841488,18.652378
std,2.892727,0.492562,3.204370,3.406732,1.507472,11.420571
min,0.000000,0.000000,0.000000,0.000000,0.012500,0.856911
25%,4.350000,0.000000,11.000000,14.000000,2.110278,5.135871
50%,6.230000,0.000000,13.000000,16.000000,2.808889,21.023826
75%,6.830000,0.000000,17.000000,20.000000,3.544167,27.285053
max,23.680000,7.500000,23.000000,23.000000,55.238056,43.059292

In [16]:
# Display unique values and counts for a categorical column
unique_values_counts = CleanData['kwhTotal'].value_counts()
print(unique_values_counts)

kwhTotal
0.00     55
6.73     35
6.88     31
6.84     30
6.76     29
         ..
18.70     1
17.65     1
12.83     1
18.35     1
0.08      1
Name: count, Length: 873, dtype: int64